# Replication Database Configuration (where subscriptions will be created)
REPLICATION_DB_HOST=your_host
REPLICATION_DB_PORT=5432
REPLICATION_DB_USER=root
REPLICATION_DB_PASSWORD=your_password

# Master Database Configuration (the encrypted database to replicate from)
MASTER_DB_HOST=your_host
MASTER_DB_PORT=5432
MASTER_DB_USER=root
MASTER_DB_PASSWORD=your_password

# LSN from logs (check logs for "Invalid Length" keyword)
LSN=38E7/403FB58

# Database names (comma-separated, supports special characters)
# Example: your_db_1,your_db_2
DATABASES=your_db1,your_db2